# --- Terraform & Secrets ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
infrastructure/*.json
*.key
*.pem

# --- IDE ---
.vscode/
.idea/

# --- Node ---
node_modules/
dist/

# --- Java ---
target/
*.jar
!backend/target/*.jar.original