server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/api/users/**
        - id: property-service
          uri: http://property-service:8080
          predicates:
            - Path=/api/properties/**
        - id: rental-service
          uri: http://rental-service:8080
          predicates:
            - Path=/api/rentals/**
        - id: blockchain-integration-service
          uri: http://blockchain-service:8080
          predicates:
            - Path=/api/blockchain/**
        - id: payment-service
          uri: http://payment-service:8080
          predicates:
            - Path=/api/payments/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/