server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: property-service
          uri: lb://property-service
          predicates:
            - Path=/api/properties/**
        - id: rental-service
          uri: lb://rental-service
          predicates:
            - Path=/api/rentals/**
        - id: blockchain-integration-service
          uri: lb://blockchain-integration-service
          predicates:
            - Path=/api/blockchain/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://104.197.229.223"
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/
